{% extends 'base.html' %}

{% block content %}


<!--Edit Page-->
    <section class="editPage">
    <form action = "{% url 'album-edit' id=album.id %}" method = "post">
        <fieldset>
            <legend>Edit Album</legend>
            <div class="container">

                <!-- Form for Editing Album -->

                {% csrf_token %}
                {{ form }}
                {{ songs_formset.management_form }}
                <!-- Button for Editing Album -->
                <button class="edit-album" type="submit">Edit Album</button>
            </div>
        </fieldset>.
        <fieldset>
            <h2>Songs in the album</h2>
            <div class="container">

                <!-- Form for Editing Album -->

                {% csrf_token %}
                {% for song in songs_formset %}
                    <div class="songs-formset-field">
                        {{ song.name }}
                    </div>
                    <div class="songs-formset-field">
                        {{ song.length }}
                    </div>
                    <div class="songs-formset-field">
                        {{ song.DELETE }}
                    </div>

                {% endfor %}

            </div>
        </fieldset>
    </form>
</section>




{% endblock %}>